.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url('../Images/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  width: 28vw;
  height: 85vh;
  color: white;
  border: 1px double whitesmoke;
  border-radius: 10px;
}

h1 {
  color: aqua;
  font-family: cursive;
  font-style: italic;
}

.form-input {
  width: 20vw;
  margin: 20px auto;
}

h4 {
  width: 20vw;
  margin: -1em auto 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

h4:before, h4:after {
  content: "";
  display: inline-block;
  width: 45%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px dashed;
}

h4:after {
  margin: 0 -55% 0 0.5em;
}

.google, .fb, .github, .instagram {
  width: 15vw;
  margin: 5px auto;
  text-align: start;
}

.icon {
  width: 40px;
  padding :15px !important;
  margin: 20px 5px;
}

.google:hover {
  color: orangered;
}

.fb:hover {
  color: blue;
}

.github:hover {
  color: purple;
}

.instagram:hover {
  color: blueviolet;
}

.result {
  color: salmon;
  font-size: 1.25rem;
  font-family: cursive;
}